/* Empty. Add your own CSS if you like */
.generalNavBar{
  background-color: rgb(255,109,0) !important;
  color: white !important;
}

.tab-item-active, .tab-item.activated{
  border-color: rgb(255,109,0) !important;
}

.title{
  color: white !important;
}

.tabIcon{
  color: rgb(255,109,0) !important;
}

.imgCircle{
  border-radius: 50%;
}

.Padding>a{
  padding: 10px 10px 10px 10px !important;
}

.noMarginBotton{
  margin-bottom: 0 !important;
}

.openMsg{
  color: #31B404;
}

.closeMsg{
  color: red;
}

.infoIcon{
  color: rgb(255,109,0);
}
