<ion-view view-title="Restaurantes">
  <ion-content>
    <ion-list>
      <ion-item class="Padding" ng-repeat="res in rest.restaurants" type="item-text-wrap" ng-click="rest.goToRestaurant(res.id)">
        <div class="row">
          <div class="col col-20">
            <img ng-src="{{res.img}}" alt="" width="100%" class="imgCircle">
          </div>
          <div class="col col-67">
            <h2><b ng-bind="::res.name"></b></h2>
            <h3 ng-bind="::res.type"></h3>
          </div>

          <div class="col">
            <img ng-src="img/op.png" alt="Open" width="100%" class="imgCircle" ng-if="res.isOpen">
            <img ng-src="img/cl.png" alt="Close" width="100%" class="imgCircle" ng-if="!res.isOpen">
          </div>

        </div>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
